.industry-card {
  height: 300px;
  width: 100%;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden;
}

/*Image*/
.industry-card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../images/weServe-img-2.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.industry-card-image1 {
  background-image: url("../images/weServe-img-2.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.industry-card-image2 {
  background-image: url("../images/weServe-img-3.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.industry-card-image3 {
  background-image: url("../images/weServe-img-4.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.industry-card-image3 {
  background-image: url("../images/we-serve-img-6.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*Description */
.industry-card-description {
  display: flex;
  position: absolute;
  gap: 0.5em;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #212121;
  bottom: 0;
  border-radius: 16px;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
  height: 60%;
}

/*Text*/
.text-title {
  font-size: $fs-20;
  font-weight: $fw-700;
}

.text-body {
  font-size: 1rem;
  line-height: 130%;
}

.industry-card:hover .industry-card-description {
  transform: translateY(100%);
}

.sectors-we-serve-section {

  h2 {
    color: $color-salmon;
    font-family: $font-montserrat;
    font-size: $fs-32;
    font-weight: $fw-600;
  }

  p {
    font-family: $font-montserrat;
    color: $color-secondary;
  }

  img {
    border-radius: $border-10;
  }

}

.future-clinics {
  .careers-section {
    h3 {
      color: #e25c4c;
      text-align: center;
      font-size: 32px;
      font-weight: 600;
    }
    strong {
      color: $color-primary;
    }
  }
}