body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-montserrat;
}

// TOP NAV //
.top-nav {
  background-color: $bg-primary;
  font-weight: $fw-500;
  font-size: $fs-15;
  font-family: $font-montserrat;
  color: $color-white;
  padding: $p-5 $p-20;

  i {
    margin-right: $m-10;
  }

  .bar_content {
    color: $color-white;
    font-size: $fs-15;
    display: flex;
    width: 100%;
    transform: translateX(0%);
    animation: move 30s linear infinite;
    white-space: nowrap;
    align-items: center;

    img {
      margin-right: $m-5;
      margin-left: $m-5;
    }
  }

  @keyframes move {
    to {
      transform: translateX(-100%);
    }
  }
}

// TOP NAV //

.navbar {
  .nav-link {
    color: $color-primary;
    font-size: $fs-14;
    font-weight: $fw-600;
    font-family: $font-montserrat;
    margin-left: $m-5;
    margin-right: $m-5;
  }

  .register-btn {
    margin-top: $m-5;

    a {
      background-color: $bg-primary;
      text-decoration: none;
      padding: 5px 10px;
      color: $color-white;
      border-radius: $border-5;
      font-size: $fs-14;
      font-weight: $fw-500;
    }
  }

  .navbar-brand {
    img {
      filter: invert(7%) sepia(91%) saturate(4884%) hue-rotate(228deg) brightness(119%) contrast(109%);
    }
  }
}

.dropend {
  .dropdown-toggle {
    color: $color-primary;
    margin-left: 1em;
    font-size: $fs-14;
    font-weight: $fw-600;
    font-family: $font-montserrat;
  }

  &:hover {
    >.dropdown-menu {
      display: block;
      margin-top: 1px;
      margin-left: 0.122em;
    }
  }
}

.dropdown-item {
  color: $color-primary;
  font-size: $fs-14;
  font-weight: $fw-600;
  font-family: $font-montserrat;

  &:hover {
    background-color: $bg-primary;
    color: $color-white;
  }
}

.dropdown {
  .dropdown-menu {
    display: none;
    border-radius: 0px;
  }

  &:hover {
    >.dropdown-menu {
      display: block;
      margin-left: 0.122em;
    }
  }
}

@media screen and (min-width: 769px) {
  .dropend:hover>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }

  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}

//

.banner-sec {
  .shedule-form {
    border-radius: $border-5;

    h5 {
      font-size: $fs-22;
      font-weight: $fw-600;
      font-family: $font-montserrat;
      color: $color-primary;
    }

    p {
      font-family: $font-montserrat;
      font-size: $fs-14;
      color: $color-salmon;
      font-weight: $fw-700;
    }

    h6 {
      font-family: $font-montserrat;
      font-size: $fs-20;
      font-weight: $fw-500;
      color: $color-secondary;
    }

    input {
      border: $border-1 solid $border-primary;
      margin-bottom: $m-20;
    }

    select {
      border: $border-1 solid $border-primary;
      margin-bottom: $m-25;
    }

    #online,
    #offline {
      border: 1px solid $border-primary;
      border-radius: $border-5;
      font-family: $font-montserrat;
      position: relative;
    }

    #online1,
    #offline1 {
      border: 1px solid $border-black;
      border-radius: $border-5;
      font-family: $font-montserrat;
      position: relative;
    }

    .clicked {
      border-color: $color-light-sea-green !important;
    }

    .fa-circle-check {
      display: none;
      position: absolute;
      top: -11px;
      left: -6px;
    }

    button {
      font-family: $font-montserrat;
      font-size: $fs-15;
      background-color: $bg-primary;
      border: $border-0;
      border-radius: $border-5;
      padding: $p-10;
      color: $color-white;
      text-transform: capitalize;
    }
  }
}

//about
.about-us {
  h6 {
    color: $color-salmon;
    font-size: $fs-16;
    font-weight: $fw-700;
    font-family: $font-montserrat;
    margin-bottom: $m-15;
  }

  h2 {
    color: $color-primary;
    font-size: $fs-26;
    font-weight: $fw-700;
    font-family: $font-montserrat;
    margin-bottom: $m-15;
  }

  p {
    font-size: $fs-16;
    font-weight: $fw-500;
    font-family: $font-montserrat;
    margin-bottom: $m-10;
  }

  a {
    color: $color-primary;
    border-radius: $border-5;
    padding: $p-8 $p-15;
    border: $border-2 solid $border-primary;
    font-size: $fs-15;
    font-weight: $fw-600;
    background-color: $bg-white;

    text-decoration: none;

    &:hover {
      background-color: $bg-primary;
      color: $color-white;
      text-decoration: none;
    }
  }
}

//

//
.trained-placed-section {
  background: $bg-light-blue;
  // background: linear-gradient(
  //   211deg,
  //   rgba(255, 255, 255, 1) 5%,
  //   rgba(219, 233, 242, 1) 15%,
  //   rgba(39, 78, 255, 1) 39%,
  //   rgba(183, 148, 144, 1) 92%
  // );

  .train-place-card {
    width: 100%;
    background-color: $bg-white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    position: relative;
    height: $h-100;
    padding: $p-20;
    border: 1px solid rgba(0, 0, 0, 0.25);

    .title {  
      position: absolute;
      top: 0;
      text-align: center;
      justify-content: center;
      left: 30%;
      right: 30%;
      background-color: $bg-primary;
      color: $color-white;
      font-size: $fs-15;
      font-weight: $fw-600;
      font-family: $font-montserrat;
      padding: $p-3 $p-15;
      border-bottom-left-radius: $border-15;
      border-bottom-right-radius: $border-15;
      text-wrap: nowrap;
    }

    .logo {
      width: 100px;
      height: 50px;
    }

    p {
      font-size: $fs-15;
      font-family: $font-montserrat;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      // color: $color-white;
    }

    a {
      color: $color-primary;
      text-decoration: none;
      border: 1px solid $border-primary;
      padding: $p-5 $p-10;
      border-radius: $border-20;
      font-weight: $fw-600;
      font-size: $fs-14;

      &:hover {
        background-color: $bg-primary;
        color: $color-white;
      }
    }
  }
}

//
.module-block-item {
  position: relative;
  height: 350px;
  padding: $p-10;
  border-radius: 10px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: $bg-white;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;

}

.module-block-item:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-100deg);
  -ms-transform: rotatey(-100deg);
  transform: rotatey(-100deg);
}

.module-block-item {
  .module-para {
    font-size: $fs-18;
  }

  a {
    position: absolute;
    bottom: 20px;
  }

  img {
    height: 150px;
  }

  border: 1px solid #cccccc;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  background-color: #fff;

  .module-block-body {
    padding: $p-15;

    h5 {
      color: $color-primary;
      font-weight: $fw-bold;
      font-size: $fs-24;
      margin-bottom: $m-15;
    }

    h6 {
      font-size: $fs-16;
      font-weight: $fw-600;
      margin-bottom: $m-15;
    }

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: $fs-14;
      margin-bottom: $m-10;
    }
  }
}

.course-sec {
  margin-bottom: $m-50;

  .bord {
    text-align: center;

    h4 {
      font-size: $fs-30;
      font-weight: $fw-700;
      color: $color-primary;
    }
  }

  p {
    font-size: 20px;
    font-weight: bolder;
  }

  .card-block-item {
    img {
      height: 150px;
    }

    border: 1px solid #cccccc;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    background-color: #fff;
    height: 100%;

    .card-block-body {
      padding: $p-15;

      h5 {
        color: $color-primary;
        font-weight: $fw-bold;
        font-size: $fs-24;
        margin-bottom: $m-15;
      }

      h6 {
        font-size: $fs-16;
        font-weight: $fw-600;
        margin-bottom: $m-15;
      }

      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: $fs-14;
        margin-bottom: $m-10;
      }
    }

    .custom-block-bottom {
      position: absolute;
      bottom: 0px;

      .share-btn {
        border-radius: 0px 0px 10px 0px;
        padding: $p-5;
        color: $color-primary;
        font-size: $fs-14;
        font-weight: $fw-500;

        &:hover {
          background-color: $bg-primary;
          color: $color-white;
        }
      }

      .enroll-btn {
        background-color: $bg-primary;
        color: $color-white;
        border-radius: 0px 0px 0px 10px;
        padding: $p-5;
        font-size: $fs-14;
        font-weight: $fw-500;
      }

      a {
        text-decoration: none;
        border: 1px solid rgb(234, 232, 232);
        text-align: center;
      }
    }
  }
}

.our-employers {
  background-color: $bg-white;
  font-family: $font-montserrat;
  text-align: center;

  h2 {
    color: $color-primary;
    font-weight: $fw-700;
    font-size: $fs-30;
    font-family: $font-montserrat;
    margin-bottom: $m-15;
  }

  p {
    font-weight: $fw-500;
    font-size: $fs-18;
    font-family: $font-montserrat;
    margin-bottom: $m-20;
  }

  img {
    background-color: $bg-white;
    border: $border-1 solid #d3d3d3;
    border-radius: 10px;
    padding: $p-10;
  }
}

.learning-program {
  h2 {
    text-align: center;
    font-size: $fs-30;
    font-weight: $fw-700;
    font-family: $font-montserrat;
    margin-bottom: $m-15;
    color: $color-primary;
  }

  .learning-card {
    background-color: $color-light-blue;
    box-shadow: 0 27px 20px -15px rgb(122 62 134 / 15%);
    border-radius: $border-5;
    overflow: hidden;

    img {
      height: 250px;
    }

    .card-desc {
      padding: $p-15;

      h6 {
        margin-bottom: $m-10;
        margin-top: $m-15;
        color: $color-primary;
        font-size: $fs-16;
        font-weight: $fw-600;
      }

      p {
        font-size: $fs-14;
        font-weight: $fw-500;
        font-family: $font-montserrat;
      }

      a {
        text-decoration: none;
        color: $color-primary;
        font-size: $fs-14;
        font-weight: $fw-500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// TESTIMONIALS CSS START //
.testimonials {
  background-color: $bg-sky-blue;
  padding: $p-20;

  .heading {
    text-align: center;

    h6 {
      font-size: $fs-18;
      font-weight: $fw-600;
      font-family: $font-montserrat;
      color: $color-salmon;
    }

    h3 {
      font-size: $fs-32;
      font-weight: $fw-700;
      font-family: $font-montserrat;
      color: $color-primary;
    }

    p {
      font-size: $fs-16;
      font-weight: $fw-500;
      font-family: $font-montserrat;
      padding: $p-5 $p-30;
    }
  }

  .testimonial-card {
    background-image: url("../images/testimonial-card-bg2.jpg");
    background-size: 100% 100%;
    padding: $p-10 $p-15;
    height: $h-100;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: $bg-white;
    border-radius: $border-5;
    text-align: center;
    position: relative;

    .quote {
      position: absolute;
      top: 0;
      left: 10px;
      padding: $p-10 $p-15;
      border-bottom-left-radius: $border-15;
      font-size: $fs-22;

      i {
        color: $bg-primary;
      }
    }

    h5 {
      font-size: $fs-18;
      font-weight: $fw-600;
      font-family: $font-montserrat;
      color: $color-white;
      margin-top: 15px;
    }

    h6 {
      font-size: $fs-12;
      font-weight: $fw-600;
      font-family: $font-montserrat;
      color: $color-salmon;
      margin-bottom: $m-5;
    }

    i {
      color: $color-white;
      margin-bottom: $m-5;
    }

    p {
      font-size: $fs-15;
      font-weight: $fw-500;
      font-family: $font-montserrat;
      color: $color-black;
      text-align: start;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
    }
  }
}

.reason-to-enroll {
  background-image: url("../images/doctor-working-computer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  img {
    margin-bottom: -60px;
    margin-left: -50px;
  }

  .enroll {
    background-color: rgba(77, 146, 248, 0.7);
  }

  .accordion-button:not(.collapsed) {
    background-color: #cfe2ff;
  }

  .accordion-button {
    background-color: #e9f2ff;
    margin-bottom: $m-10;
    border-radius: $border-5;
    color: $color-secondary;
    font-size: $fs-18;
    font-weight: $fw-500;
    font-family: $font-montserrat;

    &:focus {
      box-shadow: none;
    }
  }

  .accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-border-width: none;
  }

  .accordion-body {
    color: $color-white;
  }

  .why-choose {
    color: $color-white;
    margin-bottom: $m-15;
    font-family: $font-montserrat;
  }
}

.medical-coding {
  img {
    border-radius: 15px 0px 0px 15px;
    ;
  }

  h4 {
    text-align: center;
    margin-bottom: $m-15;
    font-weight: $fw-600;
    color: $color-primary;
  }

  .row {
    border: $border-1 solid $border-gainsboro;
    border-radius: 15px;
    margin: $m-10;

    .real-time-project-sec {
      position: relative;

      h5 {
        padding: $p-20;
        color: $color-primary;
        font-weight: $fw-bold;
      }

      .about-real-project {
        padding: $p-20;
        overflow: hidden;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        margin-bottom: $m-50;
        letter-spacing: 1px;

        h6 {
          font-weight: bold;
          font-size: $fs-15;
          color: $color-primary;
        }

        p {
          font-size: $fs-15;
        }
      }

      .medical-real {
        position: absolute;
        bottom: 0;
        right: 0;

        .enroll-btn {
          background-color: $bg-primary;
          color: $color-white;
          padding: $p-5;
          font-size: $fs-14;
          font-weight: $fw-500;
          border: none;
          border-radius: 0px;
          text-align: center;
        }
      }

      a {
        margin: $m-0;
        color: $color-primary;
        border-radius: 0px 0px 15px 0px;
        ;
        padding: $p-5 $p-10;
        font-size: $fs-15;
        font-weight: $fw-600;
        background-color: $bg-white;
        border: $border-1 solid $border-primary;
        text-decoration: none;

        &:hover {
          background-color: $bg-primary;
          color: $color-white;
        }
      }
    }
  }
}

//
//OUR TRAINING SERVICES
.our-training-services-sec {
  font-family: $font-montserrat;
  background-image: url("../images/clinical-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .training-service {
    background-color: rgba(0, 0, 255, 0.35);
  }

  .training-head-sec {
    text-align: center;

    h3 {
      color: $color-white;
      font-size: $fs-30;
      font-weight: $fw-700;
    }

    p {
      color: $color-white;
    }
  }

  .about-our-services .row {
    border: $border-1 solid $border-gainsboro;
    margin: $m-10;

    .real-time-project-sec {
      padding: $p-20;
      background-color: $bg-white;

      h5 {
        color: $color-primary;
        font-weight: $fw-bold;
      }

      .about-real-project {
        overflow: hidden;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        margin-bottom: $m-50;
        letter-spacing: 1px;

        h6 {
          font-weight: bold;
          font-size: $fs-15;
        }

        p {
          font-size: $fs-15;
        }
      }

      a {
        color: $color-white;
        border-radius: $border-5;
        padding: $p-8 $p-10;
        font-size: $fs-15;
        font-weight: $fw-600;
        background-color: $bg-primary;
        text-decoration: none;
      }
    }
  }

  .explore-service-btn {
    text-align: center;

    button {
      border: none;
      color: $color-primary;
      border-radius: $border-5;
      padding: $p-8 $p-15;
      font-size: $fs-15;
      font-weight: $fw-600;
      background-color: $bg-white;
      outline: none;
      text-decoration: none;

      a {
        text-decoration: none;
      }
    }
  }
}

//
//SIDE PANEL SECTION//
.sidepanel-section {
  position: fixed;
  vertical-align: middle;
  background-color: $bg-primary;
  transform: rotate(90deg);
  top: 50%;
  right: -74px;
  z-index: 999;
  padding: $p-10 $p-0;
  font-weight: $fw-600;

  a {
    text-decoration: none;
    color: $color-white;
    padding: $p-0 $p-14;
  }
}

/* mobile view bottom-panel-section start*/
.bottom-panel-section {
  background-color: $bg-primary;
  text-align: center;

  i,
  a {
    color: $color-white;
  }
}

/* mobile view bottom-panel-section end */

//

.faqs-sec {
  .faqs-button {
    background-color: $bg-white;
    padding: 5px 20px 5px 20px;
    border-radius: $border-5;
  }

  .faq-section {
    font-family: $font-montserrat;

    p {
      color: $color-primary;
      font-weight: 600;
    }

    .accordion-item {
      margin-top: 5px;
      border: 1px solid $border-gainsboro !important;
      font-family: $font-montserrat;

      .accordion-button.collapsed::after {
        background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='(0,0,139)' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
        transform: rotate(-90deg);
        transition: 0.5s ease-in;
        transition-delay: 0.2s;
      }

      .accordion-button:not(.collapsed)::after {
        background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='(0,0,139)' class='bi bi-dash-circle' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
        transform: rotate(0deg);
        transition: 0.5s ease-in;
        transition-delay: 0.2s;
      }

      .accordion-button:not(.collapsed),
      .accordion-button.collapsed {
        outline: none;
        color: #1e2285;
        font-size: 14px;
        background-color: $color-white;
        box-shadow: 0 0 0 0px $color-gainsboro;
      }

      .accordion-button strong {
        font-size: 16px;
        padding: 3px;
      }

      .accordion-collapse {
        transition: height 0.9s ease;
        border-color: none;
      }
    }

    .open-faq-sec {
      p {
        margin-top: 10px;
        color: $color-black;
        font-weight: 500;
      }
    }
  }
}

.counselling {
  background-color: $bg-primary;

  h2 {
    color: $color-white;
    font-family: $font-montserrat;
    font-size: $fs-40;
    font-weight: $fw-bold;
    margin-bottom: $m-20;
  }

  i {
    color: $color-white;
    font-size: $fs-40;
    margin-bottom: $m-20;
  }

  p {
    color: $color-white;
    font-family: $font-montserrat;
    font-size: $fs-18;
    font-weight: $fw-500;
    margin-bottom: $m-20;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  h5 {
    color: $color-white;
    font-family: $font-montserrat;
    font-size: $fs-18;
    font-weight: $fw-600;
  }

  h6 {
    color: $color-white;
    font-family: $font-montserrat;
    font-size: $fs-15;
    font-weight: $fw-500;
  }

  .shedule-form {
    border-radius: $border-10;
    background-color: $bg-white;
    padding: $p-25;
    text-align: center;

    h5 {
      font-size: $fs-22;
      font-weight: $fw-600;
      font-family: $font-montserrat;
      color: $color-primary;
      margin-bottom: $m-20;
    }

    p {
      font-family: $font-montserrat;
      font-size: $fs-14;
      color: $color-salmon;
      font-weight: $fw-700;
    }

    h6 {
      font-family: $font-montserrat;
      font-size: $fs-20;
      font-weight: $fw-500;
      color: $color-secondary;
    }

    input {
      border: $border-1 solid $border-primary;
      margin-bottom: $m-25;
    }

    select {
      border: $border-1 solid $border-primary;
      margin-bottom: $m-25;
    }

    button {
      font-family: $font-montserrat;
      font-size: $fs-15;
      background-color: $bg-primary;
      border: $border-0;
      border-radius: $border-5;
      padding: $p-10;
      color: $color-white;
      text-transform: capitalize;
    }
  }
}

.sectors-we-serve h2 {
  color: $color-primary;
  font-weight: $fw-bold;
}

@media (max-width: 991px) {
  .reason-to-enroll img {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .reason-to-enroll img {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 500px) {
  .banner-sec {
    .carousel {
      .carousel-inner {
        .carousel-item {
          height: 620px;

          &.active {
            height: 620px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .banner-sec {
    .box {
      box-shadow: none;
    }
  }
}