.blog-details-section {
  h2 {
    color: $color-salmon;
    font-family: $font-montserrat;
    font-size: $fs-32;
    font-weight: $fw-600;
  }
  p {
    font-family: $font-montserrat;
    color: $color-secondary;
  }
  img{
    border-radius: $border-10;
  }
}