
.refund-policy{
    font-family: $font-montserrat;
    background: url('/assets/images/terms-bg.png')no-repeat;
    background-position: top right;
    h1,h4{
        color:$color-primary;
        font-weight: $fw-bold;
    }
    .refund{
        margin-top:$m-10;
        padding:$p-10;
        border-bottom: $border-1 solid $border-sky-blue;
    }
    .refund-bottom{
        border-bottom:none;
    }
}