@import "./variables";

*{
    font-family: $font-montserrat;
}

.service-container-section{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.service-advice-form{
    background-color: $bg-primary;
    color: $color-white;
    padding: $p-10;
    border-radius: $border-10;
    .formcontrol{
        border-radius: $border-5;
        border: none;
        padding: $p-8;
    }
    .call-btn{
        border: none;
        border-radius: $border-5;
        padding: $p-5;
    }
}

.benefits-of-development {
    h4 {
    background-color: $color-primary;
    color: $color-white;
    padding: $p-10;
    font-weight: $fw-700;
    }
    p {
        margin-top: $m-20;
    }
}
  


.table-content-section{
    background-color: $color-sky-blue;
    border: $border-1 solid $color-black;
    border-radius: $border-10;
    padding: $p-10;
    .anchor-table-section{
        h5{
            color: $color-black;
        }
        a{
            color: $color-primary;
            text-decoration: none;
            line-height: 30px;
            &:hover{
                text-decoration: underline;
                color: $color-salmon;
            }
        }
    }
}

.question-and-answer-sec{
    margin-top: $m-10;
    strong{
        color: $color-danger;
    }
}

.table-section { 
    tr{
        border: $border-1 solid $color-gainsboro;
    }
    th{
        background-color: $color-primary;
        color: $color-white;
      }
    td{
        padding: $p-14;
    }
}

.about-course-details-section{ 
    .about-course{ 
        h4 {
            font-weight: 600;
            color: $color-primary;
        }
        ul li {
            margin-top: $m-5;
          }
    }
}

.enroll-now-container{
    h4{
        background-color: $bg-primary;
        padding-top: $p-10;
        padding-bottom: $p-10;
        color: $color-white;
    }
    .enroll-for-weekdays{
        background-color: $bg-sky-blue;
        &:hover{
            background-color: $bg-gainsboro;
        }
        .weekdays{
            span{
                font-size: $fs-14;
                font-weight: $fw-600;
                color: $color-white;
                background-color: $bg-danger;
                padding: $p-8;
            }
        }
        .enroll-date{
            margin-left: $m-15;
            font-weight: $fw-600;
            color: $color-primary;
            padding-top: $p-10;
        }
        .enroll-time{
            margin-left: $m-15;
            font-size: $fs-15;
            font-weight: $fw-500;
            padding-bottom: $p-20;
            i{
                margin-right: $m-3;
            }
        }
    }
}

.timings-not-match{
    background-color: $bg-gainsboro;
    text-align: center;
    .timings-not-match-head{
        font-weight: $fw-600;
        color: $color-primary;
    }
    .flexible-demo{
        a{
            color: $color-danger;
            font-weight: 500;
            &:hover{
                color: $color-primary;
            }
        }
    }
}

.asking-questions-container{
    margin-top: $m-30;
    h4{
        color: $color-primary;
        margin-bottom: 30px;
        text-decoration: underline;
    }
    .faq-section{
        h6{
            color: $color-secondary;
        }
        p{
            margin-left: 35px;
        }
    }
}



// RELATED SERVICES
.related-services-container{
    h4{
        color: $color-primary;
    }
    div{
        margin-top: 10px;
        h5{
            font-weight: 700;
            color: $color-secondary;
            margin-top: 5px;
        }
        p{
            font-weight: 500;
        }
    }
}
 
.second-form-section{
    margin-top: $m-20;
    position: sticky;
    top: 3%;
    z-index: 99;
}
  

  
  
  

 