$color-black: #000000;
$color-white: #ffffff;
$color-danger: red;
$color-primary: #3C5EAB;
$color-blue:#274eff;
$color-secondary: #653592;
$color-yellow: #f6c324;
$color-sky-blue: #dbe9f2;
$color-light-sea-green: #14b0a4;
$color-gainsboro: #dfdfdf;
$color-salmon:#e25c4c;
$color-light-blue:#f2f2f2;

$bg-black: #000000;
$bg-white: #ffffff;
$bg-danger: red;
$bg-primary: #3C5EAB;
$bg-blue:#274eff;
$bg-secondary: #653592;
$bg-yellow: #f6c324;
$bg-sky-blue: #dbe9f2;
$bg-squid-ink: #22262f;
$bg-salmon:#e25c4c;
$bg-light-blue:#f2f2f2;

$border-black: #000000;
$border-white: #ffffff;
$border-danger: red;
$border-primary: #3C5EAB;
$border-blue:#274eff;
$border-secondary: #653592;
$border-yellow: #f6c324;
$border-sky-blue: #dbe9f2;
$border-salmon:#e25c4c;
$border-light-blue:#f2f2f2;

$fs-12: 12px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;
$fs-34: 34px;
$fs-36: 36px;
$fs-38: 38px;
$fs-40: 40px;
$fs-50: 50px;
$fs-100: 100px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-bold: bold;

$m-0: 0px;
$m-3: 3px;
$m-5: 5px;
$m-10: 10px;
$m-15: 15px;
$m-20: 20px;
$m-25: 25px;
$m-30: 30px;
$m-35: 35px;
$m-40: 40px;
$m-50: 50px;

$p-0: 0px;
$p-3: 3px;
$p-5: 5px;
$p-8: 8px;
$p-10: 10px;
$p-14: 14px;
$p-15: 15px;
$p-20: 20px;
$p-22: 22px;
$p-25: 25px;
$p-30: 30px;
$p-35: 35px;
$p-40: 40px;
$p-50: 50px;

$border-0: 0px;
$border-1: 1px;
$border-2: 2px;
$border-5: 5px;
$border-10: 10px;
$border-15: 15px;
$border-20: 20px;

$w-100: 100%;
$h-100: 100%;

$font-montserrat: "Montserrat", sans-serif;
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/assets/fonts/Montserrat-Light.otf");
}
