@import './variables';
@import './mixins';
@import './footer';
@import './index';
@import './contact';
@import './services';
@import './terms';
@import './refund';
@import './industrieswecater';
@import './aboutus';
@import './training';
@import './register';

.slick-dots li.slick-active button:before {
    color: $color-primary;
}
.slick-next,
.slick-prev {
    &::before {
        content: "";
    }

    i {
        font-size: $fs-20;
        color: $color-primary;
    }
}