@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/assets/fonts/Montserrat-Light.otf");
}
.footer-sec-bg {
  background-color: #22262f;
}
.footer-sec-bg .logo {
  filter: brightness(0) invert(1);
}
.footer-sec-bg .footer-quick-links {
  list-style-type: none;
}
.footer-sec-bg .footer-quick-links li {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.footer-sec-bg .footer-quick-links li .input-group-text {
  color: #000000;
  font-weight: 500;
}
.footer-sec-bg .footer-quick-links li .footer-social-icons .social-icons-div {
  width: -moz-min-content;
  width: min-content;
  background-color: #ffffff;
  margin: 5px;
  padding: 4px;
  border-radius: 50%;
}
.footer-sec-bg .footer-quick-links li .footer-social-icons .social-icons-div i {
  margin-top: 3px;
  color: #000000;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
}
.footer-sec-bg .footer-quick-links li h5 {
  font-size: 18px;
  color: #14b0a4;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.footer-sec-bg .footer-quick-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.footer-sec-bg .footer-quick-links li a:hover {
  text-decoration: underline;
  color: #14b0a4;
}
.footer-sec-bg .copyright-text {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.tooltip-inner {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-size: 16px !important;
  font-weight: 500;
  border: 1px solid #14b0a4;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/assets/fonts/Montserrat-Light.otf");
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.top-nav {
  background-color: #3C5EAB;
  font-weight: 500;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.top-nav .contact-infomation {
  color: #ffffff;
}
.top-nav .contact-infomation i {
  margin-right: 10px;
}
.top-nav .bar_content {
  color: #ffffff;
  font-size: 15px;
  display: flex;
  width: 100%;
  transform: translateX(0%);
  animation: move 30s linear infinite;
  white-space: nowrap;
  align-items: center;
}
.top-nav .bar_content img {
  margin-right: 5px;
  margin-left: 5px;
}
@keyframes move {
  to {
    transform: translateX(-100%);
  }
}

.navbar-nav .nav-link {
  color: #3C5EAB;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.dropend .dropdown-toggle {
  color: #3C5EAB;
  margin-left: 1em;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item {
  color: #3C5EAB;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item:hover {
  background-color: #3C5EAB;
  color: #ffffff;
}

.dropdown .dropdown-menu {
  display: none;
  border-radius: 0px;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.122em;
  margin-left: 0.122em;
}

@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}
.banner-sec .box {
  border-radius: 5px;
}
.banner-sec .box h5 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #3C5EAB;
}
.banner-sec .box p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #e25c4c;
  font-weight: 600;
}
.banner-sec .box h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #653592;
}
.banner-sec .box .input-group-text {
  background-color: red;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
}
.banner-sec .box input {
  border: 1px solid #3C5EAB;
}
.banner-sec .box select {
  border: 1px solid #3C5EAB;
}
.banner-sec .box #online,
.banner-sec .box #offline {
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.banner-sec .box .clicked {
  border-color: #14b0a4 !important;
}
.banner-sec .box .fa-circle-check {
  display: none;
  position: absolute;
  top: -11px;
  left: -6px;
}
.banner-sec .box button {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #3C5EAB;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
}

.about-us h6 {
  color: #e25c4c;
  font-size: 28px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.about-us h2 {
  color: #653592;
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}
.about-us p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.about-us button {
  margin-top: 15px;
  color: #274eff;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #274eff;
  font-size: 15px;
  font-weight: 600;
  background-color: #ffffff;
}
.about-us button:hover {
  background-color: #274eff;
  color: #ffffff;
}

.course-block-inside {
  display: none;
}

.course-block-inside_active {
  display: block;
}

@keyframes mymove {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.course-card {
  animation: mymove 2s;
  padding: 25px;
}
.course-card .course-card-body {
  padding: 10px 0px;
}
.course-card img {
  border-radius: 5px;
}
.course-card h4 {
  font-size: 20px;
}
.course-card h5 {
  color: #274eff;
  font-size: 18px;
}
.course-card h5 span {
  color: #000000;
  font-size: 15px;
}
.course-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.course-card .read-more {
  color: #274eff;
  border: 2px solid #274eff;
  font-size: 12px;
  font-weight: 500;
}
.course-card .read-more:hover {
  background-color: #274eff;
  color: #ffffff;
}

.course-button {
  background-color: rgb(239, 238, 238);
  padding: 10px;
}

.course_button_active {
  background-color: #3C5EAB;
  color: #ffffff;
}

.our-employers {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.our-employers h2 {
  color: #3C5EAB;
  font-weight: 600;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
}
.our-employers p {
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.our-employers img {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
}

.learning-program h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  color: #3C5EAB;
}
.learning-program .learning-card {
  background-color: #f2f2f2;
  box-shadow: 0 27px 20px -15px rgba(122, 62, 134, 0.15);
  border-radius: 5px;
  overflow: hidden;
}
.learning-program .learning-card .card-desc {
  padding: 15px;
}
.learning-program .learning-card .card-desc h6 {
  margin-bottom: 10px;
  margin-top: 15px;
  color: #3C5EAB;
  font-size: 18px;
  font-weight: 600;
}
.learning-program .learning-card .card-desc p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.learning-program .learning-card .card-desc a {
  text-decoration: none;
  color: #3C5EAB;
  font-size: 14px;
  font-weight: 500;
}
.learning-program .learning-card .card-desc a:hover {
  text-decoration: underline;
}

.testimonials {
  background-color: #dbe9f2;
  padding: 20px;
}
.testimonials .heading {
  text-align: center;
}
.testimonials .heading h6 {
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #e25c4c;
}
.testimonials .heading h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #3C5EAB;
}
.testimonials .heading p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 5px 30px;
}
.testimonials .testimonial-card {
  padding: 10px 15px;
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.testimonials .testimonial-card .quote {
  position: absolute;
  right: 0px;
  top: 0;
  padding: 10px 15px;
  border-bottom-left-radius: 15px;
  background-color: #3C5EAB;
}
.testimonials .testimonial-card .quote i {
  color: #ffffff;
}
.testimonials .testimonial-card h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #3C5EAB;
}
.testimonials .testimonial-card h6 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #e25c4c;
  margin-bottom: 5px;
}
.testimonials .testimonial-card i {
  color: #f6c324;
  margin-bottom: 5px;
}
.testimonials .testimonial-card p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.get-trained-card {
  padding: 40px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  text-align: center;
  background-color: #3C5EAB;
  border-radius: 10px;
}
.get-trained-card h5 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
}
.get-trained-card hr {
  color: #ffffff;
}
.get-trained-card p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
}

.reason-to-enroll {
  background-image: url("/assets/images/reason-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.reason-to-enroll .accordion-button:not(.collapsed) {
  background-color: #cfe2ff;
}
.reason-to-enroll .accordion-button {
  background-color: #e9f2ff;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #653592;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.reason-to-enroll .accordion-button:focus {
  box-shadow: none;
}
.reason-to-enroll .accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-border-width: none;
}
.reason-to-enroll .accordion-body {
  color: #ffffff;
}
.reason-to-enroll .why-choose {
  color: #ffffff;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 500px) {
  .banner-sec .carousel .carousel-inner .carousel-item {
    height: 620px;
  }
  .banner-sec .carousel .carousel-inner .carousel-item.active {
    height: 620px;
  }
}
@media only screen and (max-width: 990px) {
  .banner-sec .box {
    box-shadow: none;
  }
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/assets/fonts/Montserrat-Light.otf");
}
.contactus-form-bg {
  background-color: #dbe9f2;
}
.contactus-form-bg .contact-form-bg {
  background-color: transparent;
  border: none;
}
.contactus-form-bg .contactus-head-text {
  color: #3C5EAB;
  display: inline;
  font-weight: 600;
}
.contactus-form-bg .contact-label-text {
  color: #3C5EAB;
  font-weight: 600;
}
.contactus-form-bg .mandatory-field {
  color: red;
  margin-left: 5px;
  font-size: 15px;
}
.contactus-form-bg .contact-submitbtn {
  background-color: #ffffff;
  color: #3C5EAB;
  border: 2px solid #3C5EAB;
  font-weight: bold;
}
.contactus-form-bg .contact-submitbtn:hover {
  background-color: #3C5EAB;
  color: #ffffff;
}

.whychoose-bg .address-card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  height: 100%;
}
.whychoose-bg .address-icon {
  color: #274eff;
}
.whychoose-bg .address-card:hover {
  color: #000000;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.2);
}
.whychoose-bg .address-head-text {
  font-size: 16px;
  font-weight: 700;
}
.whychoose-bg .address-sub-text {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.whychoose-bg .address-text-color {
  color: #274eff;
  font-size: 16px;
  font-weight: 600;
}
.whychoose-bg .numbers-timings div:nth-child(odd) {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.whychoose-bg .location-head-text {
  color: #ffffff;
  display: inline;
  font-weight: 500;
}

@media (max-width: 767px) {
  .address-card .semi-colon {
    display: none;
  }
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/assets/fonts/Montserrat-Light.otf");
}
* {
  font-family: "Montserrat", sans-serif;
}

.service-container-section {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.service-advice-form {
  background-color: #3C5EAB;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
.service-advice-form .formcontrol {
  border-radius: 5px;
  border: none;
  padding: 8px;
}
.service-advice-form .call-btn {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.benefits-of-development h4 {
  background-color: #3C5EAB;
  color: #ffffff;
  padding: 10px;
  font-weight: 700;
}
.benefits-of-development p {
  margin-top: 20px;
}

.table-content-section {
  background-color: #dbe9f2;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}
.table-content-section .anchor-table-section h5 {
  color: #000000;
}
.table-content-section .anchor-table-section a {
  color: #3C5EAB;
  text-decoration: none;
  line-height: 30px;
}
.table-content-section .anchor-table-section a:hover {
  text-decoration: underline;
  color: #e25c4c;
}

.question-and-answer-sec {
  margin-top: 10px;
}
.question-and-answer-sec strong {
  color: red;
}

.table-section tr {
  border: 1px solid #dfdfdf;
}
.table-section th {
  background-color: #3C5EAB;
  color: #ffffff;
}
.table-section td {
  padding: 14px;
}

.about-course-details-section .about-course h4 {
  font-weight: 600;
  color: #3C5EAB;
}
.about-course-details-section .about-course ul li {
  margin-top: 5px;
}

.enroll-now-container h4 {
  background-color: #3C5EAB;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}
.enroll-now-container .enroll-for-weekdays {
  background-color: #dbe9f2;
}
.enroll-now-container .enroll-for-weekdays:hover {
  background-color: #DFDFDF;
}
.enroll-now-container .enroll-for-weekdays .weekdays span {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: red;
  padding: 8px;
}
.enroll-now-container .enroll-for-weekdays .enroll-date {
  margin-left: 15px;
  font-weight: 600;
  color: #3C5EAB;
  padding-top: 10px;
}
.enroll-now-container .enroll-for-weekdays .enroll-time {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 20px;
}
.enroll-now-container .enroll-for-weekdays .enroll-time i {
  margin-right: 3px;
}

.timings-not-match {
  background-color: #DFDFDF;
  text-align: center;
}
.timings-not-match .timings-not-match-head {
  font-weight: 600;
  color: #3C5EAB;
}
.timings-not-match .flexible-demo a {
  color: red;
  font-weight: 500;
}
.timings-not-match .flexible-demo a:hover {
  color: #3C5EAB;
}

.asking-questions-container {
  margin-top: 30px;
}
.asking-questions-container h4 {
  color: #3C5EAB;
  margin-bottom: 30px;
  text-decoration: underline;
}
.asking-questions-container .faq-section h6 {
  color: #653592;
}
.asking-questions-container .faq-section p {
  margin-left: 35px;
}

.related-services-container h4 {
  color: #3C5EAB;
}
.related-services-container div {
  margin-top: 10px;
}
.related-services-container div h5 {
  font-weight: 700;
  color: #653592;
  margin-top: 5px;
}
.related-services-container div p {
  font-weight: 500;
}

.second-form-section {
  margin-top: 20px;
  position: sticky;
  top: 3%;
  z-index: 99;
}

.slick-dots li.slick-active button:before {
  color: #3C5EAB;
}

.slick-next::before,
.slick-prev::before {
  content: "";
}
.slick-next i,
.slick-prev i {
  font-size: 20px;
  color: #3C5EAB;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/assets/fonts/Montserrat-Light.otf");
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.top-nav {
  background-color: #3C5EAB;
  font-weight: 500;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.top-nav .contact-infomation {
  color: #ffffff;
}
.top-nav .contact-infomation i {
  margin-right: 10px;
}
.top-nav .bar_content {
  color: #ffffff;
  font-size: 15px;
  display: flex;
  width: 100%;
  transform: translateX(0%);
  animation: move 30s linear infinite;
  white-space: nowrap;
  align-items: center;
}
.top-nav .bar_content img {
  margin-right: 5px;
  margin-left: 5px;
}
@keyframes move {
  to {
    transform: translateX(-100%);
  }
}

.navbar-nav .nav-link {
  color: #3C5EAB;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.dropend .dropdown-toggle {
  color: #3C5EAB;
  margin-left: 1em;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item {
  color: #3C5EAB;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item:hover {
  background-color: #3C5EAB;
  color: #ffffff;
}

.dropdown .dropdown-menu {
  display: none;
  border-radius: 0px;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.122em;
  margin-left: 0.122em;
}

@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}
.banner-sec .box {
  border-radius: 5px;
}
.banner-sec .box h5 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #3C5EAB;
}
.banner-sec .box p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #e25c4c;
  font-weight: 600;
}
.banner-sec .box h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #653592;
}
.banner-sec .box .input-group-text {
  background-color: red;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
}
.banner-sec .box input {
  border: 1px solid #3C5EAB;
}
.banner-sec .box select {
  border: 1px solid #3C5EAB;
}
.banner-sec .box #online,
.banner-sec .box #offline {
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.banner-sec .box .clicked {
  border-color: #14b0a4 !important;
}
.banner-sec .box .fa-circle-check {
  display: none;
  position: absolute;
  top: -11px;
  left: -6px;
}
.banner-sec .box button {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #3C5EAB;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
}

.about-us h6 {
  color: #e25c4c;
  font-size: 28px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.about-us h2 {
  color: #653592;
  font-size: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}
.about-us p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.about-us button {
  margin-top: 15px;
  color: #274eff;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #274eff;
  font-size: 15px;
  font-weight: 600;
  background-color: #ffffff;
}
.about-us button:hover {
  background-color: #274eff;
  color: #ffffff;
}

.course-block-inside {
  display: none;
}

.course-block-inside_active {
  display: block;
}

@keyframes mymove {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.course-card {
  animation: mymove 2s;
  padding: 25px;
}
.course-card .course-card-body {
  padding: 10px 0px;
}
.course-card img {
  border-radius: 5px;
}
.course-card h4 {
  font-size: 20px;
}
.course-card h5 {
  color: #274eff;
  font-size: 18px;
}
.course-card h5 span {
  color: #000000;
  font-size: 15px;
}
.course-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.course-card .read-more {
  color: #274eff;
  border: 2px solid #274eff;
  font-size: 12px;
  font-weight: 500;
}
.course-card .read-more:hover {
  background-color: #274eff;
  color: #ffffff;
}

.course-button {
  background-color: rgb(239, 238, 238);
  padding: 10px;
}

.course_button_active {
  background-color: #3C5EAB;
  color: #ffffff;
}

.our-employers {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.our-employers h2 {
  color: #3C5EAB;
  font-weight: 600;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
}
.our-employers p {
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.our-employers img {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
}

.learning-program h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  color: #3C5EAB;
}
.learning-program .learning-card {
  background-color: #f2f2f2;
  box-shadow: 0 27px 20px -15px rgba(122, 62, 134, 0.15);
  border-radius: 5px;
  overflow: hidden;
}
.learning-program .learning-card .card-desc {
  padding: 15px;
}
.learning-program .learning-card .card-desc h6 {
  margin-bottom: 10px;
  margin-top: 15px;
  color: #3C5EAB;
  font-size: 18px;
  font-weight: 600;
}
.learning-program .learning-card .card-desc p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.learning-program .learning-card .card-desc a {
  text-decoration: none;
  color: #3C5EAB;
  font-size: 14px;
  font-weight: 500;
}
.learning-program .learning-card .card-desc a:hover {
  text-decoration: underline;
}

.testimonials {
  background-color: #dbe9f2;
  padding: 20px;
}
.testimonials .heading {
  text-align: center;
}
.testimonials .heading h6 {
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #e25c4c;
}
.testimonials .heading h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #3C5EAB;
}
.testimonials .heading p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 5px 30px;
}
.testimonials .testimonial-card {
  padding: 10px 15px;
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.testimonials .testimonial-card .quote {
  position: absolute;
  right: 0px;
  top: 0;
  padding: 10px 15px;
  border-bottom-left-radius: 15px;
  background-color: #3C5EAB;
}
.testimonials .testimonial-card .quote i {
  color: #ffffff;
}
.testimonials .testimonial-card h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #3C5EAB;
}
.testimonials .testimonial-card h6 {
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #e25c4c;
  margin-bottom: 5px;
}
.testimonials .testimonial-card i {
  color: #f6c324;
  margin-bottom: 5px;
}
.testimonials .testimonial-card p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.get-trained-card {
  padding: 40px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  text-align: center;
  background-color: #3C5EAB;
  border-radius: 10px;
}
.get-trained-card h5 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
}
.get-trained-card hr {
  color: #ffffff;
}
.get-trained-card p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
}

.reason-to-enroll {
  background-image: url("/assets/images/reason-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.reason-to-enroll .accordion-button:not(.collapsed) {
  background-color: #cfe2ff;
}
.reason-to-enroll .accordion-button {
  background-color: #e9f2ff;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #653592;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.reason-to-enroll .accordion-button:focus {
  box-shadow: none;
}
.reason-to-enroll .accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-border-width: none;
}
.reason-to-enroll .accordion-body {
  color: #ffffff;
}
.reason-to-enroll .why-choose {
  color: #ffffff;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 500px) {
  .banner-sec .carousel .carousel-inner .carousel-item {
    height: 620px;
  }
  .banner-sec .carousel .carousel-inner .carousel-item.active {
    height: 620px;
  }
}
@media only screen and (max-width: 990px) {
  .banner-sec .box {
    box-shadow: none;
  }
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/assets/fonts/Montserrat-Light.otf");
}
.about-banner-bg {
  background-image: url("/assets/images/about-bg.jpg");
  background-size: 100% 100%;
  font-family: "Montserrat", sans-serif;
}
.about-banner-bg .banner-content h3 {
  font-size: 30px;
  font-weight: 600;
}

.first-sec {
  font-family: "Montserrat", sans-serif;
}
.first-sec h5 {
  font-size: 20px;
  font-weight: 500;
  color: #e25c4c;
}
.first-sec h3 {
  font-size: 30px;
  font-weight: 600;
  color: #3C5EAB;
}
.first-sec h6 {
  font-size: 20px;
  font-weight: 400;
}
.first-sec p {
  font-size: 16px;
  margin-top: 20px;
}

.vission-sec .card1 {
  background-image: url("/assets/images/line-01.png");
  background-size: 100% 100%;
}
.vission-sec .card1 .bx {
  border-radius: 100px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.vission-sec .card1 .bx .top-color {
  background-color: #e25c4c;
  height: 50px;
}
.vission-sec .card1 .bx img {
  height: 70px;
  width: 70px;
}
.vission-sec .card1 .bx h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #e25c4c;
}
.vission-sec .card1 .bx p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.vission-sec .card2 {
  background-image: url("/assets/images/iacr line-02.png");
  background-size: 100% 100%;
}
.vission-sec .card2 .bx {
  border-radius: 100px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.vission-sec .card2 .bx .top-color {
  background-color: rgb(30, 30, 91);
  height: 50px;
}
.vission-sec .card2 .bx img {
  height: 70px;
  width: 70px;
}
.vission-sec .card2 .bx h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: rgb(30, 30, 91);
}
.vission-sec .card2 .bx p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.vission-sec .card3 {
  background-image: url("/assets/images/iacr line-03.png");
  background-size: 100% 100%;
}
.vission-sec .card3 .bx {
  border-radius: 100px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.vission-sec .card3 .bx .top-color {
  background-color: rgb(233, 172, 17);
  height: 50px;
}
.vission-sec .card3 .bx img {
  height: 70px;
  width: 70px;
}
.vission-sec .card3 .bx h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: rgb(233, 172, 17);
}
.vission-sec .card3 .bx p {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
}

.why-iacr-sec .title {
  background-image: url("/assets/images/why-iacr-bg2.png");
  background-size: 100% 100%;
  height: 620px;
  position: relative;
}
.why-iacr-sec .title h3 {
  position: absolute;
  top: 22%;
  left: 100px;
  font-size: 50px;
  color: white;
}
.why-iacr-sec p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.why-iacr-sec p span {
  font-size: 18px;
  font-weight: 700;
}

.our-team-sec h4 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #3C5EAB;
}
.our-team-sec p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.our-team-sec .back-color {
  background-color: #e25c4c;
  border-radius: 100px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 360px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.our-team-sec .back-color .img-size {
  height: 300px;
  width: 350px;
  position: absolute;
  top: -10px;
}
.our-team-sec .back-color2 {
  background-color: #3C5EAB;
  border-radius: 100px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 360px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.our-team-sec .back-color2 .img-size {
  height: 300px;
  width: 350px;
  position: absolute;
  top: -10px;
}
.our-team-sec .team-text h5 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.our-team-sec .team-text p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 425px) {
  .our-team-sec .back-color {
    background-color: #e25c4c;
    border-radius: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 240px;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
  .our-team-sec .back-color .img-size {
    height: 200px;
    width: 200px;
    position: absolute;
    top: -10px;
  }
  .our-team-sec .back-color2 {
    background-color: #3C5EAB;
    border-radius: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 240px;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
  .our-team-sec .back-color2 .img-size {
    height: 200px;
    width: 200px;
    position: absolute;
    top: -10px;
  }
}/*# sourceMappingURL=styles.css.map */